[submodule "SourceSampler/3rdParty/JUCE"]
	path = SourceSampler/3rdParty/JUCE
	url = https://github.com/juce-framework/JUCE
[submodule "SourceSampler/3rdParty/twine"]
	path = SourceSampler/3rdParty/twine
	url = https://github.com/elk-audio/twine
[submodule "SourceSampler/3rdParty/ff_meters"]
	path = SourceSampler/3rdParty/ff_meters
	url = https://github.com/ffont/ff_meters.git
[submodule "SourceSampler/3rdParty/Simple-WebSocket-Server"]
	path = SourceSampler/3rdParty/Simple-WebSocket-Server
	url = https://gitlab.com/eidheim/Simple-WebSocket-Server.git
[submodule "SourceSampler/3rdParty/asio"]
	path = SourceSampler/3rdParty/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "SourceSampler/3rdParty/Simple-Web-Server"]
	path = SourceSampler/3rdParty/Simple-Web-Server
	url = https://gitlab.com/eidheim/Simple-Web-Server.git
[submodule "SourceSampler/3rdParty/shepherd"]
	path = SourceSampler/3rdParty/shepherd
	url = https://github.com/ffont/shepherd.git
[submodule "SourceShepherdPush2Controller/modes/GrooveTransformerExample"]
	path = SourceShepherdPush2Controller/modes/GrooveTransformerExample
	url = https://github.com/behzadhaki/GrooveTransformerExample.git
[submodule "SourceSampler/3rdParty/signalsmith-stretch"]
	path = SourceSampler/3rdParty/signalsmith-stretch
	url = https://github.com/Signalsmith-Audio/signalsmith-stretch
