[submodule "SourceSampler/3rdParty/JUCE"]
	path = SourceSampler/3rdParty/JUCE
	url = https://github.com/juce-framework/JUCE
[submodule "SourceSampler/3rdParty/JUCE_ELK"]
	path = SourceSampler/3rdParty/JUCE_ELK
	url = https://github.com/ffont/JUCE_ELK
