.DS_Store
build
xcuserdata/
*.pyc
__pycache__
VST2_SDK
api_key.h
elk_platform/static
freesound_api_key.py
recent_queries_and_filters.json
sound_usage_log
tokens.json
sm_settings.json
last_commit_info
frame/
.idea
SourceSampler/Projucer alias
SourceSampler/Builds/MacOSX/SourceSampler.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ui_plugin_copy.html
BinaryData.cpp
BinaryData.h
node_modules
