<!DOCTYPE html>
<html>

<head>
    <title>Source, a Freesound-powered sampler</title>
</head>

<body>
    <h1>Source, a Freesound-powered sampler</h1>

    <form action="." method="post">
        <h3>Query</h3>
        <label for="query">Query:</label><input name="query" value="{{query}}" type="text"><br>
        <label for="numSounds">Num sounds:</label><input name="numSounds" value="{{numSounds}}" type="text" placeholder="16"><br>
        <label for="maxSoundLength">Max sound length:</label><input name="maxSoundLength" value="{{maxSoundLength}}" type="text" placeholder="0.5"><br>
        <input type="submit">

        <p>Bass sound: 8123</p>
    </form>
    
    <br>

    <form action="." method="post">
        <h3>Global MIDI note offset</h3>
        <label for="midiRootNoteOffset">MIDI root note offset:</label><input name="midiRootNoteOffset" value="{{midiRootNoteOffset}}" type="number"><br>
        <input type="submit">
    </form>

    <br>

    <form action="." method="post">
        <h3>Sound parameters</h3>
        <label for="soundIndex">Sound index (use -1 for all):</label><input name="soundIndex" value="{{soundIndex}}" type="text"><br>
        <label for="filterCutoff">Filter cutoff:</label><input name="filterCutoff" value="{{filterCutoff}}" type="text"><br>
        <label for="filterResonance">Filter resonance:</label><input name="filterResonance" value="{{filterResonance}}" type="text"><br>
        <label for="maxPitchRatioMod">AT>pitch:</label><input name="maxPitchRatioMod" value="{{maxPitchRatioMod}}" type="text"><br>
        <label for="maxFilterCutoffMod">AT>cutoff:</label><input name="maxFilterCutoffMod" value="{{maxFilterCutoffMod}}" type="text"><br>
        <label for="gain">Master gain:</label><input name="gain" value="{{gain}}" type="text"><br>
        <input type="submit">
    </form>

    <br>

    <form action="." method="post">
        <h3>Reverb</h3>
        <label for="roomSize">Room size:</label><input name="roomSize" value="{{roomSize}}" type="text"><br>
        <label for="damping">Damping:</label><input name="damping" value="{{damping}}" type="text"><br>
        <label for="wetLevel">Wet level:</label><input name="wetLevel" value="{{wetLevel}}" type="text"><br>
        <label for="dryLevel">Dry level:</label><input name="dryLevel" value="{{dryLevel}}" type="text"><br>
        <label for="width">Width:</label><input name="width" value="{{width}}" type="text"><br>
        <label for="freezeMode">Freeze mode:</label><input name="freezeMode" value="{{freezeMode}}" type="text"><br>
        <input type="submit">
    </form>

</body>

</html>
