<!DOCTYPE html>
<html>

<head>
    <title>Source, a Freesound-powered sampler</title>

    <script>

        var updateStateTimer;

        function setParameter(element){
            var baseName = element.name.replace("Slider", "");
            var value = element.value;
            var soundIdx = document.getElementById("soundIndexId").value;
            document.getElementById(baseName + "Id").value = value;

            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (this.readyState != 4) return;
                if (this.status == 200) {
                    console.log("Response 200");
                }
            };
            xhr.open('GET', '/set_sound_parameter_float?soundIdx=' + soundIdx + '&param=' + baseName + '&value=' + value, true);
            xhr.send();
        }

        function updateState(){
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (this.readyState != 4) return;
                if (this.status == 200) {
                    if (this.responseText == 'Maybe old'){
                        document.getElementById("oldIndicator").innerHTML = '*';
                    } else {
                        document.getElementById("oldIndicator").innerHTML = '';
                        document.getElementById("state").value = this.responseText;
                    }
                } else {
                    document.getElementById("state").value = 'No response from server';
                }
            };
            xhr.open('GET', '/update_state', true);
            xhr.send();
        }

        function triggerPostState(){
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (this.readyState != 4) return;
                if (this.status == 200) {
                    // Do nothing
                }
            };
            xhr.open('GET', '/trigger_post_state', true);
            xhr.send();

            setTimeout(function(){ // Update the state after a while
                updateState();
            }, 200);
        }

        function getSystemStats(){
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (this.readyState != 4) return;
                if (this.status == 200) {
                    document.getElementById("systemStats").value = this.responseText;
                }
            };
            xhr.open('GET', '/get_system_stats', true);
            xhr.send();
        }

        document.addEventListener("DOMContentLoaded", function(){
            triggerPostState();       

            /*     
            updateStateTimer = setInterval(function(){
                updateState();
            }, 200);*/

            /*
            updateSystemStatsTimer = setInterval(function(){
                getSystemStats();
            }, 1000);*/
        });
        
    </script>
</head>

<body>
    <h1>Source, a Freesound-powered sampler</h1>

    <form action="." method="post">
        <h3>Query</h3>
        <label for="query">Query:</label><input name="query" value="{{query}}" type="text"><br>
        <label for="numSounds">Num sounds:</label><input name="numSounds" value="{{numSounds}}" type="text" placeholder="16"><br>
        <label for="maxSoundLength">Max sound length:</label><input name="maxSoundLength" value="{{maxSoundLength}}" type="text" placeholder="0.5"><br>
        <input type="submit">

        <p>Bass sound: 8123</p>
    </form>
    
    <br>

    <form action="." method="post">
        <h3>Global MIDI note offset</h3>
        <label for="midiRootNoteOffset">MIDI root note offset:</label><input name="midiRootNoteOffset" value="{{midiRootNoteOffset}}" type="number"><br>
        <input type="submit">
    </form>

    <br>

    <form action="." method="post">
        <h3>Sound parameters</h3>
        <label for="soundIndex">Sound index (use -1 for all):</label><input id="soundIndexId" name="soundIndex" value="{{soundIndex}}" type="text"><br>
        <input type="range" name="filterCutoffSlider" min="0" max="20000.0" step="0.5" oninput="setParameter(this)"><br>
        <label for="filterCutoff">Filter cutoff:</label><input id="filterCutoffId" name="filterCutoff" value="{{filterCutoff}}" type="text"><br>
        <label for="filterResonance">Filter resonance:</label><input name="filterResonance" value="{{filterResonance}}" type="text"><br>
        <label for="maxPitchRatioMod">AT>pitch:</label><input name="maxPitchRatioMod" value="{{maxPitchRatioMod}}" type="text"><br>
        <label for="maxFilterCutoffMod">AT>cutoff:</label><input name="maxFilterCutoffMod" value="{{maxFilterCutoffMod}}" type="text"><br>
        <label for="gain">Master gain:</label><input name="gain" value="{{gain}}" type="text"><br>
        <input type="submit">
    </form>

    <br>

    <form action="." method="post">
        <h3>Reverb</h3>
        <label for="roomSize">Room size:</label><input name="roomSize" value="{{roomSize}}" type="text"><br>
        <label for="damping">Damping:</label><input name="damping" value="{{damping}}" type="text"><br>
        <label for="wetLevel">Wet level:</label><input name="wetLevel" value="{{wetLevel}}" type="text"><br>
        <label for="dryLevel">Dry level:</label><input name="dryLevel" value="{{dryLevel}}" type="text"><br>
        <label for="width">Width:</label><input name="width" value="{{width}}" type="text"><br>
        <label for="freezeMode">Freeze mode:</label><input name="freezeMode" value="{{freezeMode}}" type="text"><br>
        <input type="submit">
    </form>

    <br>

    <form action="." method="post">
        <h3>Save preset</h3>
        <label for="presetNumber">Preset number:</label><input name="presetNumber" value="" type="number"><br>
        <label for="presetName">Preset name:</label><input name="presetName" value="" type="text"><br>
        <input type="submit">
    </form>

    <form action="." method="post">
        <h3>Load preset</h3>
        <label for="loadPresetNumber">Preset number:</label><input name="loadPresetNumber" value="-1" type="number"> OR 
        <label for="loadPresetName">Preset name:</label><input name="loadPresetName" value="" type="text"><br>
        <input type="submit">
    </form>

    <form action="." method="post">
        <h3>Midi in channel</h3>
        <label for="midiInChannel">MIDI in channel:</label><input name="midiInChannel" value="{{midiInChannel}}" type="number"><br>
        <input type="submit">
    </form>

    <form action="." method="post">
        <h3>Midi thru</h3>
        <input type="hidden" name="hiddenMidiThru">
        <label for="midiThru">MIDI thru:</label><input name="midiThru" value="" type="checkbox"><br>
        <input type="submit">
    </form>

    
    <h3>State</h3>
    <button onclick="triggerPostState();">Trigger post state</button><span id="oldIndicator"></span>
    <textarea id="state" style="width:100%;height:500px;"></textarea>

    <h3>System stats</h3>
    <button onclick="getSystemStats();">Get system stats</button>
    <textarea id="systemStats" style="width:100%;height:100px;"></textarea>

</body>

</html>
